.title-container {
  font-size: 3em;
  padding-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-container {
  opacity: 0;
  animation: fade-in-down 3s ease 0.1s forwards;
}

.firstname {
  color: #32bafa;
}

.subtitle {
  display: block;
  color: #777;
  font-size: 0.5em;
  opacity: 0;
  animation: fade-in 2s ease 2.5s forwards;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}
