---
import { Brief } from '../components/Brief';
import { Title } from '../components/Title';
import { Waves } from '../components/Waves';
import Layout from '../layouts/Layout.astro';
---

<Layout title='hkanwal.com'>
  <div id='page'>
    <Title />
    <Waves height='500px' />
    <div id='underwater'></div>
    <Brief client:visible />
  </div>
</Layout>

<script>
  let canScroll = false;

  setTimeout(() => {
    canScroll = true;
    console.log('can scroll now');
  }, 4000);

  window.onscroll = (e) => {
    if (!canScroll) {
      window.scrollTo(0, 0);
    }
  };
</script>

<style>
  #page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    margin: auto;
  }

  #underwater {
    margin-top: 98vh;
    padding-top: 2000vh;
    background-color: #32bafa;
    width: 100%;
    z-index: 2;
  }
</style>
