---
import { Waves } from "../components/Waves";
import Layout from "../layouts/Layout.astro";
---

<Layout title="hkanwal.com">
  <div id="page">
    <Waves height="500px" />
  </div>
</Layout>

<style>
  #page {
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    margin: auto;
  }
</style>
